
.hero {
    width: 100%;
    height: 70vh;
    background-color: #dadada;
}

.video {
    width: 100%;
    height: 100%;
    background-color: rgb(197, 101, 101);
    position: relative;
}

.cta {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.cta:hover {
    transform: translate(-50%, -2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
    background-color: #ce9c12;
}

.details {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 1rem 0rem;
    /* width: calc(100% - var(--pd-header) * 2); */
    margin: 0 calc(var(--pd-header) * .5);
    background-color: var(--clr-body-bg);
    border-radius: 5px;
}

.detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.detail img {
    width: 100px;
    margin: 2rem auto;
}

.menu-topics {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 1rem;
    
    /* margin: 16rem auto 16rem auto; */
}

.menutopic {
    /* display: none; */
    --size: 450px;
    max-width: var(--size);
    max-height: var(--size);
    min-height: 450px;
    position: relative;
    margin: .5rem 0rem;
}

.menutopic-title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 150%;
    z-index: 5;
    font-weight: bold;
    color: white;
}


.menutopic-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}


/* Desktop */
@media screen and (min-width: 1200px) { 


.details {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0rem;
    width: calc(100% - var(--pd-header) * 2);
    margin: 0 var(--pd-header);
    background-color: var(--clr-body-bg);
    /* position: relative; */
    transform: translateY(-6rem);
    font-size: var(--fs-lg);
    /* bottom: 6rem; */
    /* border-radius: 5px; */
}

.detail {
    width: auto;
}


.detail img {
    width: 200px;
    max-width: 200px;
    margin-bottom: 2rem;
}

.menu-topics {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: -4rem;
    /* margin: 16rem auto 16rem auto; */
}

.menutopic {
    max-width: 25%;
    max-height: 25%;
    min-height: auto;
    position: relative;
}

.menutopic-title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: var(--fs-xx);
    z-index: 5;
    color: white;
}


.menutopic-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.customer-club {
    background-color: #5A858B;
    background-image: url('../images/kundeklub-shirts.jpg');
    width: 100%;
    padding: var(--pd-header);
    /* height: 300px; */
}

.customer-club-form {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin: 1rem 0;
}

.customer-club-paragraph {
    max-width: 50ch;
    color: rgb(37, 37, 37);
    margin: 1.5rem 0 2rem 0;
}

.customer-club-title {
    font-size: var(--fs-xx);
}

.newsletter-field {
    display: inline-flex;
    align-items: stretch;
    flex-flow: column nowrap;
}

.newsletter-field input {
    font-size: var(--fs-lg);
}

.clothing-nav {
    padding: 2rem var(--pd-header) 0 var(--pd-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clothing-nav-link,
.product-link,
.footer-list-link {
    text-decoration: none;
    color: black;
}

.clothing-nav-link:hover,
.footer-list-link:hover {
    text-decoration: underline;
}

.clothing-nav-link img {
    width: 30px;
    margin-left: 1rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem var(--pd-header);
}

.product {
    /* max-width: 300px; */
    width: 100%;
}
.product img {
    width: 100%;
}
/* Footer */
footer {
    background-color: #E5E5E5;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
}

.footer-section {
    margin-top: 2rem;
}

.footer-list {
    list-style-type: none;
}

}