

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Næste & tilbage knap */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Putter "næste knap" til højre */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.info {
margin-left: 18px;
margin-bottom: 10px;
}

/* Knap med hjerte ikon skal ikke vises på mobil, så vi sætter - display: none; - på */
.heart-icon-button {
  display: none;
}

#heart-icon2 {
  display: none;
}

.product-headline, .colors {
    display: flex;
}

.column {
    padding-right: 20px;
}

/* Vælg farve */
.dot-black-button, .dot-blue-button, .dot-red-button {
  border: none;
}

#dot-black {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
}

#dot-blue {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #4AAEBC;
  border-radius: 50%;
  display: inline-block;
}

#dot-red {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #C54040;
  border-radius: 50%;
  display: inline-block;
}
/* Vælg størrelse */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 18px;
  font-family: var(--ff-body);
  font-size: 1rem;
  padding-left: 5px;
  width: 340px;
  height: 57.48px;
}

/* Tilføj til kurv knap*/
.add-to-cart {
    background-color: #D8A61F;
  width: 340px;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 20px;
}

.basket-button {
    display: flex;
    justify-content: center;
}

.shopping-bag-icon {
    width: 15px;
    margin-right: 10px;
}

/* Leveringsinfo sektion*/
.delivery-info {
    background-color: white;
    margin: 18px;
    padding: 18px;
}

.return-arrow {
  width: 25px;
  margin-right: 15px;
}

.arrow-down {
  float: right;
}

/* Dropdown Button - Materiale og vaskeanvisninger */
.dropbtn2 {
  cursor: pointer;
  width: 340px;
  background-color: #F4EFE8;
  color: black;
  border-style: none none solid none;
  padding: 16px;
  font-size: 16px;
  text-align: left;
}

.dropbtn2:hover, .dropbtn2:focus {
  background-color: #e9e8e7;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  margin-left: 18px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #F4EFE8;
  min-width: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  display: block;
}

.show {display:block;}

.dropbtn3 {
  cursor: pointer;
  width: 340px;
  background-color: #F4EFE8;
  color: black;
  border-style: none none solid none;
  padding: 16px;
  font-size: 16px;
  text-align: left;
}

.dropbtn3:hover, .dropbtn3:focus {
  background-color: #e9e8e7;
}

.dropdown3 {
  position: relative;
  display: inline-block;
  margin-left: 18px;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #F4EFE8;
  min-width: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display:block;}

.dropbtn4 {
  cursor: pointer;
  width: 340px;
  background-color: #F4EFE8;
  color: black;
  border-style: none none solid none;
  padding: 16px;
  font-size: 16px;
  text-align: left;
}

.dropbtn4:hover, .dropbtn4:focus {
  background-color: #e9e8e7;
}

.dropdown4 {
  position: relative;
  display: inline-block;
  margin-left: 18px;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #F4EFE8;
  min-width: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display:block;}

/* Andmeldelse */
.review {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 20px;
}

.star-icon {
  width: 20px;
  float: right;
}

/* Anbefaling sektion - skal ikke vises på mobil, så vi bruger - display: none; - for at skjule sektionen */
.similar-products {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1200px) {

  .slideshow-container {
    min-width: 800px;
  }

  /* Vi bruger grid til at placere vores indhold på siden */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 100px;
    margin: 20px;
  }

  .item1 {
    grid-column: 1 / span 3; 
    grid-row: 1;
  }

  .item2 {
    grid-column: 4;
    grid-row: 1;
  }

  .dropdown {
    width: 400px;
  }

  .basket-button {
    justify-content: left;
    margin-left: 18px;
  }

  .add-to-cart {
    width: 330px;
    cursor: pointer;
    margin-right: 10px;
  }

  .heart-icon-button {
    display: block;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-top: 20px;
    border: none;
  }

  #heart-icon2 {
    display: block;
    margin: 0 auto;
  }

  .delivery-info {
    width: 400px;
  }

  .review {
    width: 400px;
  }

  .column b {
    font-size: 30px;
  }

  #heart-icon {
    display: none;
  }

  .dropbtn, .dropbtn2, .dropbtn3, .dropbtn4 {
    width: 400px;
  }

  /* Anbefalinger */
  .similar-products {
    display: block;
    margin-left: 18px;
    margin-top: 50px;
  }

  /* Vi har brugt en horizontal scroll, som giver brugeren en mulighed for at se en række af anbefalede produkter. 
  Ved at bruge en horizontal scroll kan vi spare plads på siden. For at få den ønskede funktion bruger vi en flexbox
  og tilføjer - flex-wrap: nowrap; og overflow-x: auto; */
  .similar-products-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
  }

  .product-card {
    flex: 0 0 auto;
      width: 20%;
      margin: 10px;
      position: relative;
      background-color: #F3EFE9;
  }

  .like-button {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0px;
      top: 0;
      margin: 6px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-style: none;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.400);
  }

  .like-icon {
      width: 60%;
      padding-top: 2px;
  }

  .product-image {
      aspect-ratio: 3/4;
      width: 100%;
      display: block;
      object-fit: cover;
  }

  .product-title {
      font-size: 16px;
  }

  .product-brand {
      font-weight: 600;
      font-size: 16px;
      margin-top: 4px;
  }

  .product-price-container {
      font-size: 16px;
      margin-top: 8px;
  }

}