/* Filter window styling */

.mobile-filter-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 85vw;
    height: 100vh;
    z-index: 20;
    transform: translateX(-100vw);
    transition: 0.3s ease;
}

.mobile-filter-bg-fill {
    z-index: 19;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    opacity: 0;
    transition: 0.3s ease 0.1s;
    display: none;
    cursor: pointer;
}

.mobile-filter-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 85vw;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.178);
    overflow: hidden;
}

.mobile-filter-top-elements-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.mobile-filter-heading {
    font-family: var(--ff-body);
    font-size: 24px;
}

.mobile-filter-close-btn {
    border-style: none;
    background-color: white;
    cursor: pointer;
}

.mobile-filter-subjects-window {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 160px;
}

/* Hvert emne i filtermenu */

.filter-subject-expand-container {
    padding-left: 20px;
    padding-right: 20px;
}

.filter-subject-summary {
    list-style-type: none;
    width: 100%;
    font-family: var(--ff-body);
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    background-color: white;
    padding-bottom: 5px;
    cursor: pointer;
}

.filter-subject-summary::marker {
    display: none;
}

.filter-subject-summary::before {
    font-family: "Font Awesome 5 free";
    content: "\f105";
    color: black;
    font-weight: 900;
    font-size: 20px;
    width: 20px;
    margin-right: 10px;
}

.filter-subject-expand-container[open]>.filter-subject-summary::before {
    font-family: "Font Awesome 5 free";
    content: "\f107";
    color: black;
    font-weight: 900;
    font-size: 20px;
    width: 20px;
}

/*
.filter-subject-summary::before {
    content: ' ';
    border: solid #939faa;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0 5px 5px 0;
    transform: rotate(-45deg);
}
*/

/* .filter-subject-arrow {
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
    margin-right: 10px;
} */

.filter-subject-list {
    list-style: none;
    animation-duration: 3s;
}

.filter-subject-list-item {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.filter-subject-input-check {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: 1.8px;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-subject-input-check::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f00c";
    font-size: 12px;
    color: white;
    display: none;
}

.filter-subject-input-check:checked {
    background-color: black;
}

.filter-subject-input-check:checked::after {
    display: block;
}

.filter-subject-name {
    font-size: 16px;
    cursor: pointer;
}

.filter-line-margin {
    padding-left: 20px;
    padding-right: 20px;
}

.filter-line-devider {
    height: 1px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reset-filters-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: white;
}

.reset-filters-btn {
    width: 100%;
    height: 48px;
    font-family: var(--ff-body);
    font-size: 16px;
    border-style: none;
    color: black;
    background-color: #E3E3E3;
    cursor: pointer;
}

/* Styling af navigation path */

.navigation-path-container {
    height: 50px;
    background-color: blue;
}

/* Styling af produkt side */

.product-page-container {
    display: flex;
    margin: 0 var(--pd-mobil);
}

/* sidemenu-styling */

.side-menu {
    /* width: 20vw; */
    /* padding: 30px; */
    padding-top: 38px;
    display: none;
}

.side-menu-heading {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 24px;
}

#side-menu-heading-1 {
    padding-top: 0px;
}

.side-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side-menu-list li {
    padding-bottom: 6px;
}

.side-menu-link {
    font-size: 14px;
}

.side-menu-arrow-link {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-bottom: 6px;
}

.side-menu-arrow {
    height: 16px;
    width: 20px;
    margin-left: 10px;
}

/* Produkt-vindue-styling */

.product-window {
    width: 100vw;
}

/* Styling af filter-container */

.filters-container {
    width: 100%;
    display: flex;
    /* padding: 0px 17px; */
    margin-top: 20px;
}

.filters-devider {
    width: 50%;
    padding-left: 3px;
    padding-right: 3px;
}

.filter-buttons {
    font-size: 16px;
    width: 100%;
    height: 48px;
    border-style: none;
    font-family: var(--ff-body);
}

#filter-button {
    display: flex;
    align-items: center;
    background-color: #1D1D1D;
    color: white;
    cursor: pointer;
}

.filter-icon {
    width: 26px;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
}

#desktop-filter-btn-container {
    display: none;
}

#sort-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    border-style: solid;
    border-color: #1D1D1D;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background: url("../icons/Medium-arrow-down.svg") no-repeat 90% !important;
    cursor: pointer;
}

.sort-arrow {
    width: 20px;
}

.desktop-reset-filter-btn {
    font-size: 16px;
    font-family: var(--ff-body);
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    color: #6d6c6c;
    cursor: pointer;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
}

.desktop-filter-container {
    display: none;
}

/* Styling af individuel produktkort */

.products-spawn-container {
    margin: 2rem 0;
}

.product-spawn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .925rem;
    grid-row-gap: 1rem;
}

.product-card {
    width: 100%;
    position: relative;
    background-color: #F3EFE9;
}


.like-button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0;
    margin: 6px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.400);
    cursor: pointer;
}

.favorite-icon-shop {
    width: 60%;
    padding-top: 2px;
}

#favorite-icon-outline {
    display: none;
}

.product-image {
    width: 100%;
    min-height: 12rem;
    display: block;
    object-fit: cover;
}

.product-title {
    font-size: 16px;
}

.product-brand {
    font-weight: 600;
    font-size: 16px;
    margin-top: 4px;
}

.product-price-container {
    font-size: 16px;
    margin-top: 8px;
}

.prod {
    width: 100%;
    height: 10rem;
}

.p {
    width: 100%;
    border-radius: 5px;
    margin-top: .8rem;
    background: linear-gradient(45deg, hsl(0, 0%, 84%) 0%, hsl(0, 0%, 77%) 58%, hsl(0, 0%, 84%) 100%);
}

.p+.p {
    margin-top: .5rem;
}

@media screen and (min-width: 634px) {
    .filters-devider {
        width: 200px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .filters-container {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 769px) {
    .product-spawn {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .product-spawn {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 6px;
    }
    .mobile-filter-window {
        width: 30vw;
    }
    .mobile-filter-container {
        width: 30vw;
    }
    .filter-line-devider {
        width: 27vw;
    }
    .product-page-container {
        margin: 0 var(--pd-desktop);
        max-width: 1600px;
        width: auto;
    }
    .products-spawn-container {
        margin: 0;
    }
    .product-image {
        min-height: 20rem;
    }
    .side-menu {
        display: block;
        margin-right: 2rem;
    }
    #mobile-filter-btn-container {
        display: none;
    }
    #desktop-filter-btn-container {
        display: flex;
        align-items: center;
    }
    .desktop-filter-heading {
        font-family: var(--ff-body);
        font-weight: 600;
        font-size: 16px;
        margin-right: 20px;
    }
    .desktop-filter-container {
        display: block;
        background-color: white;
        overflow-y: scroll;
        transition: 300ms;
        margin-left: 20px;
        margin-right: 20px;
    }
    #desktop-categories-filters {
        height: 0vh;
    }
    #desktop-brands-filters {
        height: 0vh;
    }
    .desktop-filter-list {
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .desktop-filter-btn {
        height: 48px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-family: var(--ff-body);
        background-color: rgba(255, 255, 255, 0);
        border-style: none;
        cursor: pointer;
    }
    .desktop-filter-btn-arrow {
        padding: 16px;
    }
    #sort-button {
        border-style: none;
    }
    #desktop-brands-arrow {
        transform: scaleY(1);
        transition: 300ms;
    }
    #desktop-categories-arrow {
        transform: scaleY(1);
        transition: 300ms;
    }
}

@media screen and (min-width: 1650px) {
    .product-page-container {
        margin: 0 auto;
    }
}