@import 'footer.css';
@import 'shopping-cart.css';
@import 'custom-heart-checkbox.css';
@import 'custom-radio-buttons.css';

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  object-position: center;
}

/* Næste & tilbage knap */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Putter "næste knap" til højre */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#heart-icon2 {
  display: none;
}

.info p {
  margin: .5em 0;
}

.colors {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

.color-pick {
    margin-left: 1rem;
    
}




/* Vælg farve */
.dot-black-button, .dot-blue-button, .dot-red-button {
  border: none;
}

#dot-black {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
}

#dot-blue {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #4AAEBC;
  border-radius: 50%;
  display: inline-block;
}

#dot-red {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #C54040;
  border-radius: 50%;
  display: inline-block;
}
/* Vælg størrelse */
.dropdown {
  width: 100%;
  font-family: var(--ff-body);
  font-size: var(--fs-sm);
  padding: .5rem;
  margin-bottom: 1rem;
}

.item2 {
  padding: var(--pd-mobil);
}

.basket-button {
  display: flex;
}

/* Tilføj til kurv knap*/
.add-to-cart {
    background-color: #D8A61F;
  width: 100%;
  color: black;
  padding: 16px;
  font-size: var(--fs-sm);
  cursor: pointer;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-bag-icon {
    width: 1em;
    margin-right: 10px;
}

/* Leveringsinfo sektion*/
.delivery-info {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem; 
    font-size: var(--fs-sm);
}

.delivery-info p {
  margin: .5rem 0;
}

/* .delivery-info hr {
  margin: 0
} */

.return-arrow {
  width: 25px;
  margin-right: 15px;
}

.arrow-down {
  float: right;
}

/* Dropdown Button - Materiale og vaskeanvisninger */
.dropdown-menus {
  margin-top: 1rem;
}

.info-dropdown {
  width: 100%;
  background-color: #F4EFE8;
  cursor: pointer;
  padding: .6rem;
  font-size: var(--fs-sm);
  text-align: left;
  border-style: none none solid none;
}

#myDropdown2
#myDropdown3
#myDropdown4 {
  display: none;
}

.show {display:block;}


/* Andmeldelse */
.review {
  font-size: var(--fs-nm);
  margin-top: 1rem;
}

.star-icon {
  width: 1.3em;
  float: right;
}

/* Anbefaling sektion - skal ikke vises på mobil, så vi bruger - display: none; - for at skjule sektionen */
.similar-products {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1200px) {

  .slideshow-container {
    min-width: 800px;
  }

  /* Vi bruger grid til at placere vores indhold på siden */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 500px);
    grid-gap: 4rem;
    margin: 20px;
  }

  .basket-button {
    justify-content: left;
  }

  #heart-icon2 {
    display: block;
    margin: 0 auto;
  }

  #heart-icon {
    display: none;
  }

  .dropbtn, .dropbtn2, .dropbtn3, .dropbtn4 {
    width: 400px;
  }

  /* Anbefalinger */
  .similar-products {
    display: block;
    margin-left: 18px;
    margin-top: 50px;
    margin-bottom: 4rem;
  }

  /* Vi har brugt en horizontal scroll, som giver brugeren en mulighed for at se en række af anbefalede produkter. 
  Ved at bruge en horizontal scroll kan vi spare plads på siden. For at få den ønskede funktion bruger vi en flexbox
  og tilføjer - flex-wrap: nowrap; og overflow-x: auto; */
  .similar-products-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
  }

  .product-card {
    flex: 0 0 auto;
      width: 20%;
      margin: 10px;
      position: relative;
      background-color: #F3EFE9;
  }

  .like-button {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0px;
      top: 0;
      margin: 6px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-style: none;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.400);
  }

  .like-icon {
      width: 60%;
      padding-top: 2px;
  }

  .product-image {
      aspect-ratio: 3/4;
      width: 100%;
      display: block;
      object-fit: cover;
  }

  .product-title {
      font-size: 16px;
  }

  .product-brand {
      font-weight: 600;
      font-size: 16px;
      margin-top: 4px;
      text-transform: capitalize;
  }

  .product-price-container {
      font-size: 16px;
      margin-top: 8px;
  }

  .splide__slide {
    max-width: 500px;
  }

  .product {
    margin: 1.5rem;
  }

  .product img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

}