:root {
    --ff-heading: "Montserrat", sans-serif;
    --ff-body: "Montserrat", sans-serif;
    --clr-primary: #dbac2b;
    --clr-secondry: #68BAA6;
    --clr-icon: #FA7A02;
    --clr-link: #000;
    --clr-body-bg: #F3EFE9;
    --clr-error: #FF4B4B;
    --clr-footer: #3B3B3B;
    --pd-desktop: 4rem;
    --pd-mobil: 1rem;
    --fs-heading: 4rem; /* 64 px */
    --fs-subheading: 3rem; /* 48 px */
    --fs-xl: 1.5rem; /* 24 px */
    --fs-lg: 1.25rem; /* 20 px */
    --fs-nm: 1rem; /* 16 px */
    --fs-sm: 0.8rem; /* 14 px */
    --fs-xs: 0.75rem; /* 12 */
    --fs-xs: 0.625rem; /* 10 */
    font-size: var(--fs-lg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-body);
    background-color: var(--clr-body-bg);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--clr-link, #000);
}





.wrapper {
    margin: auto;
    padding: 0 1rem;
}

.body-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    background-color: var(--clr-primary);
    border: none;
    padding: .5rem 2em;
    color: black;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



/* Desktop */
@media screen and (min-width: 1200px) {

    :root {
        --fs-heading: 4rem; /* 64 px */
        --fs-subheading: 3rem; /* 48 px */
        --fs-xl: 1.5rem; /* 24 px */
        --fs-lg: 1.25rem; /* 20 px */
        --fs-nm: 1rem; /* 16 px */
        --fs-sm: 0.875rem; /* 14 px */
        --fs-xs: 0.75rem; /* 12 */
        --fs-xs: 0.625rem; /* 10 */
        font-size: var(--fs-nm);
    }

    .wrapper {
        margin: 2rem auto;
        padding: 0 4rem;
        max-width: 1200px;
        min-height: 100vh;
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 10%;
    }

    a:hover {
        text-decoration: underline;
    }

    .loading i {
        font-size: 4rem;
        color: lightsalmon;
        animation: rotate-loading 3.5s ease-in-out 0s infinite normal forwards;
    }

    @keyframes rotate-loading {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg)
        }

        52% {
            transform: rotate(180deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    
}

