:root {
    --ff-heading: "Poppins", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --clr-main: #4D4BFF;
    --clr-secondry: #68BAA6;
    --clr-icon: #FA7A02;
    --clr-link: #000;
    --clr-bg: #9b9b9b;
    --clr-error: #FF4B4B;
    --pd-header: 4rem;
    --fs-heading: 4rem;
    --fs-nm: 1rem;
    --fs-sm: 0.875;
    --fs-xs: 0.675;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-body);
    background-color: lightslategrey;
}


.wrapper {
    margin: auto;
    padding: 0 1rem;
}


@media screen and (min-width: 1200px) {
    .wrapper {
        margin: 2rem auto;
        padding: 0 4rem;
        max-width: 1200px;
        min-height: 100vh;
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 10%;
    }

    .loading i {
        font-size: 4rem;
        color: lightsalmon;
        animation: rotate-loading 3.5s ease-in-out 0s infinite normal forwards;
    }

    @keyframes rotate-loading {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg)
        }

        52% {
            transform: rotate(180deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    
}

